<p-card header="About me" class="relative left-0 m-4 z-1">
  <div class="m-0">
    <div class="flex flex-wrap-reverse justify-content-evenly align-items-center h-auto">
      <app-logo class="flex-0 w-screen sm:w-5"></app-logo>
      <p-avatar
        class="flex-0 w-screen sm:w-5 inline-flex justify-content-center"
        image="assets/Christean%20Ghobrial.jpg"
        styleClass="p-0 w-6 h-auto"
        shape="circle"></p-avatar>
    </div>
    <div class="w-full sm:w-8 m-0 sm:m-3" style="line-height: 150%;">
      <p >
        Welcome to my page! <br>
        Here is a short summary about who I am and what I do:
      </p>
      <p>
        I am ...
      </p>
    </div>
    <ul style="line-height: 175%;">
      <li>{{ age }} years old</li>
      <li>a Bachelor student at Graz University of Technology</li>
      <li>studying Software Engineering and Management</li>
      <li>the CFO (Chief Financial Officer) at the
        <p-button
          size="small"
          severity="contrast"
          outlined="true">
            TU Graz Racing Team
          <span class="pi pi-arrow-up-right ml-2"></span>
        </p-button>
      </li>
    </ul>
  </div>
</p-card>
