<!--<div class="h-full">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <p-menubar [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container>
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
    </ng-template>
  </p-menubar>

  <app-about></app-about>
  <app-wave></app-wave>

  <p-dock [model]="dock_items" position="bottom" styleClass="bottom-0 relative">
    <ng-template pTemplate="itemicon" let-item>
      <span class="{{item.icon}} text-5xl sm:text-3xl" (click)="openUrl(item.toUrl)"></span>
    </ng-template>
  </p-dock>

  <router-outlet/>
<!--</div>-->
